@charset "UTF-8";

* {
  font-family: Caviar_Dreams_Bold;
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: Caviar_Dreams_Bold;
  src: url("..//font/Caviar_Dreams_Bold.ttf");
}

body {
  background: url(../img/photo_2022-09-13_10-55-29\ \(2\).jpg) no-repeat center center fixed;
  background-size: cover;
}

nav {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.2));
  background: linear-gradient(rgba(255, 255, 255, 0.2));
  height: 100vh;
  width: 16vw;
  position: fixed;
  z-index: 1;
}

main {
  position: absolute;
  width: 82.9vw;
  margin-left: 16vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.4));
  background: linear-gradient(rgba(255, 255, 255, 0.4));
  margin-top: 6.8vh;
}

a {
  text-decoration: none;
  color: rgb(73, 73, 73);
}

.firstrow {
  background: rgb(232, 232, 232);
  width: 83vw;
  height: 6.7vh;
  position: fixed;
  top: 0;
  left: 16vw;
  z-index: 1;
}

.secondrow {
  width: auto;
  height: 37vw;
}

.thirdrow {
  width: auto;
  height: 39vw;
}

.smallrow {
  height: 2vw;
  width: auto;
}

.bi-bar-chart-fill {
  margin-left: 20px;
  color: chocolate;
}

.Shaperex {
  color: rgb(71, 71, 71);
  margin-top: 2vh;
  font-size: 1.2vw;
}

.left_icons {
  color: rgb(74, 74, 74);
  font-size: 1vw;
  font-weight: 500;
  margin-left: 20px;
  padding: 0.5vh;
}

.topicons {
  margin-right: 20px;
  text-align: right;
  padding: 0.6vw;
  font-size: 1vw;
  color: rgb(137, 137, 137);
}

.rectangle {
  background: white;
  width: 25vw;
  height: 33vw;
  position: absolute;
  left: 2vw;
}

.lastrectangle {
  background: white;
  width: 23.5vw;
  height: 33vw;
  margin-top: 2vw;
  position: absolute;
  left: 56.5vw;
}

.smallrectangle {
  background: white;
  width: 23.5vw;
  height: 15vw;
  margin-top: 2vw;
  position: absolute;
  left: 30vw;
}

.graphback {
  background: white;
  width: 50vw;
  height: 33vw;
  position: absolute;
  left: 30vw;
}

.visacard {
  background: rgb(88, 146, 247);
  height: 11vw;
  width: 21vw;
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2%;
  z-index: -1;
}

.smallgreyline {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(156, 152, 152)));
  background: -o-linear-gradient(rgb(156, 152, 152));
  background: linear-gradient(rgb(156, 152, 152));
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5vw;
  width: 21vw;
  height: 0.6px;
}

.smalltext {
  font-size: 1.1vw;
  color: grey;
  padding: 0.5vw;
  text-align: left;
  margin-left: 2vw;
}

.maintext {
  color: rgb(73, 73, 73);
  font-size: 1.5vw;
  margin-left: 2vw;
}

.bignumber {
  margin-top: 3vw;
  margin-left: 2vw;
  font-size: 2vw;
  float: left;
}

.income {
  float: right;
  background: orange;
  width: 7vw;
  height: 4.3vw;
  margin-top: 3.4vw;
  margin-right: 2.1vw;
  border-radius: 4%;
}

#arrow {
  font-size: 3vw;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.8vw;
  margin-left: 2vw;
}

.calendar {
  background: rgb(88, 146, 247);
  width: 4vw;
  height: 4vw;
  margin-left: 1.5vw;
  border-radius: 5%;
}

#calendar {
  color: white;
  font-size: 2.6vw;
  margin-left: 0.7vw;
  position: relative;
  bottom: -0.4vh;
}

#calendartext {
  margin-left: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -4vw;
  font-size: 1.5vw;
  color: rgb(73, 73, 73);
}

#undercalendartext {
  color: gray;
  font-size: 1.1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 7vw;
}

.bi-three-dots-vertical {
  float: right;
  margin-top: -3vw;
  margin-right: 1.2vw;
  font-size: 1.5vw;
  color: gray;
}

.dashboard {
  margin-top: 4vh;
}

.logout {
  position: absolute;
  bottom: 2vh;
}

.padding0 {
  padding-right: 0;
  padding-left: 0;
}

#visaicon {
  font-size: 2vw;
  color: white;
  margin-left: -0.1vw;
  margin-top: -0.3vw;
}

.backvisaicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2.3vw;
  height: 1.5vw;
  background: black;
  margin-left: 1vw;
  margin-top: -12px;
}

.cardnumber {
  margin-left: 1vw;
  color: white;
  font-size: 1.5vw;
  margin-top: 2vw;
}

.cardinformation {
  font-size: 1.2vw;
  position: relative;
  bottom: -1.5vw;
  color: white;
}

#date {
  float: left;
  margin-left: 1vw;
}

#lastname {
  float: right;
  margin-right: 4vw;
}

.wave {
  position: absolute;
  height: 11vw;
}

.rightwave {
  position: absolute;
  height: 11vw;
  margin-left: -28vw;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: 0;
}

.clearvisa {
  font: 900 6.5vw "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: absolute;
  color: rgba(255, 255, 255, 0.1);
  margin-top: 2vw;
  margin-left: 2vw;
}

progress {
  height: 0.2vw;
  position: absolute;
  left: 30vw;
  width: 23.5vw;
}

#monthlysale::-webkit-progress-value {
  margin-top: 17vw;
  background: orange;
}

.month {
  margin: 0;
  padding: 3vw 2vw 2.5vw;
  text-align: center;
  width: 100%;
  color: grey;
  list-style: none;
}

.month li {
  padding: 0;
  margin: 0;
  font-size: 1.2vw;
  line-height: 1.4;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.month li.prev,
.month li.next {
  cursor: pointer;
  margin-left: -0.6vw;
  margin-right: -0.6vw;
}

.month li.prev {
  float: left;
}

.month li.next {
  float: right;
}

/* дні тижня */

.weekdays {
  margin: 0;
  font-size: 1vw;
  padding: 0vw 1vw 1vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  color: grey;
}

.weekdays li {
  display: inline-block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 14.2857142857%;
  flex: 0 0 14.2857142857%;
  text-align: center;
  font-size: 1vw;
}

/* днi */

.days {
  margin: 0;
  padding: 1vw 0.6vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  height: 14vw;
}

.days li {
  padding: 0.8vw 1vw 0.9vw 0.5vw;
  list-style: none;
  display: inline-block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 14.2857142857%;
  flex: 0 0 14.2857142857%;
  text-align: center;
  color: grey;
  font-size: 1vw;
  line-height: 1vw;
}

.days li.date-now {
  color: white;
  width: 13vw !important;
  border-radius: 50%;
  background: orange;
}

.year-name {
  display: none;
}

.next {
  color: orange;
}

.graph {
  width: 90%;
  height: 25vw;
  margin-top: 2vw;
  margin-left: 4%;
}

#graphLineYear {
  margin-left: 25vw;
  font-size: 1.5vw;
}

.graphdoughnut {
  height: 18vw;
  width: 12vw;
  margin-left: 6.5vw;
  margin-top: -1vw;
}

.smallEarningText {
  font-size: 0.9vw;
  color: rgb(75, 75, 75);
  float: right;
  margin-right: 3vw;
}

.earningpercent {
  position: absolute;
  font-size: 2.5vw;
  margin-left: 10.4vw;
  margin-top: 6.2vw;
}